.menu {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    background: #f0f0f0;
    width: 300px;
    background-color: lightsteelblue;
    padding-top: 30px;
}

.menu-item {
    overflow: hidden;
}

.menu-link,
.menu-button {
    text-decoration: none;
    color: #0366d6;
    display: block;
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    padding: 20px 10px;
    cursor: pointer;
}

.menu-link:hover,
.menu-button:hover {
    background-color: #e0e0e0;
}

.menu-button:focus {
    outline: none;
}

.close-menu {
    display: flex !important;
    justify-content: end;
    padding: 10px 20px 0px 0px;
    color: gray;
    font-size: 20px;
}

.open-menu {
    display: fixed;
    padding: 10px;
    height: 10px;
    padding-top: 40px;
}

.laptop-menu {
    display: block;
}

.mobile-menu {
    display: none;
    position: fixed;
}

@media screen and (max-width: 1024px) {
    .laptop-menu {
        display: none !important;
    }

    .mobile-menu {
        display: block !important;
    }

    .menu {
        position: fixed;
        height: 100vh;
        z-index: 10;
        width: 300px;
    }
}