.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}

.pagination-container button {
    color: #0366d6;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 5px 10px;
    margin: 0 1px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.pagination-container button:hover:not(:disabled) {
    background-color: #f6f8fa;
    border-color: #0366d6;
}

.pagination-container button.active {
    font-weight: bold;
    color: #ffffff;
    background-color: #0366d6;
    border-color: #0366d6;
}

.pagination-container button:disabled {
    color: #959da5;
    cursor: not-allowed;
}

.pagination-container button.ellipsis {
    cursor: default;
    background-color: transparent;
    color: #24292e;
}